extends layout

block content
    div#hero.container
        div.splash
            h2 what's on your shoe rack?
            a.hero-btn.waves-effect.waves-light.btn Continue with Facebook
            br
            a.hero-btn.waves-effect.waves-light.btn Sign up with Email
