extends layout

block content
    div.contain
        div.row
            div.col.s12.m3
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        img.activator(src="https://scontent-sjc3-1.cdninstagram.com/vp/35fd1f6ba6ef4749b387595d32a92bd1/5CCFD4F5/t51.2885-15/e35/40428435_284563962152105_6553388268395559691_n.jpg?_nc_ht=scontent-sjc3-1.cdninstagram.com")
                    div.card-content
                        span.card-title.activator.grey-text.text-darken-4
                            | Ryan Nguyen
                            i.material-icons.right more_vert
                        a(href='#') Follow
                    div.card-reveal
                        span.card-title.grey-text.text-darken-4
                            | Ryan Nguyen
                            i.material-icons.right close
                        p I rarely flex but when I do, its on Sunika
            div.col.s12.m9#collection
                
                        
                
                
