extends layout

block content
    div#hero.container
        div.splash
            h2#slogan what's on your shoe rack?
            a.hero-btn.waves-effect.waves-light.btn#fb-icon
                i.fab.fa-facebook-f &nbsp &nbsp &nbsp
                | Continue with Facebook
            br
            a.hero-btn.waves-effect.waves-light.btn#email-icon(href="/sign-up")
                i.far.fa-envelope &nbsp &nbsp &nbsp
                | Sign up with email
