doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', rel='stylesheet', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel="shortcut icon" type="image/png" href="images/favicon.ico")
  body
    nav
        div.nav-wrapper
            a.brand-logo(href='/') SUNIKA
            ul#nav-mobile.right.hide-on-med-and-down
                if currentUser
                    li
                        a(href="/") Shoes
                    li
                        a(href='/collection') Profile
                    li
                        a(href='/logout') Logout
                else
                    li
                        a(href='/sign-up') Signup
                    li
                        a(href='/login') Login
                    
    block content
