extends layout

block content
    div.container#form
        div.row#center-form
            h5#form-title LOG IN
            form.col.s12(action="/login", method="post")
                div.row
                    div.input-field.col.s12
                        input#username(name='username', type='text', class='validate')
                        label(for='username') Username
                    div.input-field.col.s12
                        input#password(name='password', type='password', class='validate')
                        label(for='password') Password
                    button.btn.waves-effect.waves-light#submit-btn(type='submit', name='action') Submit
                        i.material-icons.right send
