body {
    font: 14px 'Montserrat', sans-serif;
    background-color: #D8D8D8;
}

a {
    color: #00B7FF;
}

.card {
    border-radius: 8px;
}
.card .card-image img
{
    border-radius: 8px 8px 0px 0px;
}
.contain
{
    /* totally bad practice */
    margin: 2% 2%;
    width: 95%
}

#collection
{
    margin: .5rem 0 1rem 0;
    height: 84vh;
    background-color: #F7F7F7;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#hero {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input:focus {
  border-bottom: 1px solid #393e46 !important;
  box-shadow: 0 1px 0 0 #393e46 !important;
}

label.active {
  color: #929aab !important;
}

#center-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 30px 15px 30px 15px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.30);
}

#form-title {
    text-align: center;
    letter-spacing: 5px;
}

.hero-btn {
    margin: 7.5px;
}

nav .brand-logo {
    margin-left: 20px;
    letter-spacing: 5px;
    font-weight: 600;
}

/* realligns logo on mobile navbar */
@media only screen and (max-width: 992px){
    nav .brand-logo {
        margin-left: 0px;
    }
}

nav {
    background-color: #393E46;
}

#fb-icon {
    background-color: #3b5998;
}

#email-icon {
    background-color: #929AAB;
}

#submit-btn {
    background-color: #393e46;
    margin-left: 0.75rem;
}

.btn {
  overflow: hidden;
  border-radius: 6px;
}
.btn:hover:before {
  opacity:1;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.25);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

#slogan
{
    margin: 3.25rem 0 3.25rem 0;
    color: #929AAB;
    letter-spacing: 8px;
    font-weight: 600;
}

#form
{
    width: 35%;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
    height: 100vh;
  }
}

.shoerack
{
    width: 100%;
    height: 80%;
}

.shoerow
{
    overflow: auto;
    height: 123%
}

.whitespace
{
    display: inline-block;
    width: 100%;
    max-width: 100%; /* add this */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-image: linear-gradient(90deg,#000000 0%,rgba(0,0,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative; */
}
